<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос на платеж</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f4f8;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .message {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div>
    <div class="message">
        <h1>Запрос на платеж отправлен.</h1>
        <p>Подтвердите его в вашем банке.</p>
    </div>
    <a href="/general-page" class="btn btn-primary">На главную страницу</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
